body {background-color: #dcb8f0;}
h1 {background-color: aqua; color: #9a81a8;}
.first {background-color: aqua; color:blueviolet}
.second {background-color:aquamarine; color: cadetblue;}
#important {background-color: black; color: white;}